---
layout: layouts/base.njk
bodyClass: "home page-template-default page blog-post header-layout-default"
wrapperClass: ""
navClass: "navbar-color-on-scroll navbar-transparent hestia_left"
---
{{ content | safe }}
